/* SearchBar.css */

.search-container2 {
    position: relative;
    width: 80%;
    margin: 20px auto;
  }
  
  .search-bar {
    
    width: 100%;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 15px; /* Pill-shaped */
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
  }
  
  .search-bar:focus {
    border-color: #4caf50; /* Optional: Green border on focus */
  }
  
  .results-box {
    position: absolute;
    top: 100%;
    left: 2%;
    right: 2%;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 10px;

    z-index: 1;
  }
  
  .result-item {
    align-content: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    color:white;
  }
  
  .result-item:hover {
    background-color: darkseagreen;
    border-radius: 10px;

    
  }
  